name: Java CI/CD Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build using Maven
      run: mvn clean package -DskipTests

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      with:
        args: >
          -Dsonar.projectKey=calculator
          -Dsonar.sources=src
          -Dsonar.java.binaries=target

    - name: Upload to Nexus RAW Repository
      env:
        NEXUS_USER: ${{ secrets.NEXUS_USER }}
        NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
        NEXUS_HOST: ${{ secrets.NEXUS_HOST }}
      run: |
        echo "Uploading calculator.jar to Nexus RAW..."
        curl -v -u "$NEXUS_USER:$NEXUS_PASS" \
          --upload-file target/*.jar \
          "$NEXUS_HOST/repository/java/calculator.jar"

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_USER }}/calculator-java:latest .

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_USER }}/calculator-java:latest
